body {
  background-color: rgb(255, 160, 77);
padding :100px;
width: 800px;
}

main {
  text-align: left;
  margin: 20px;

}

section {
  background-color: rgb(125, 255, 50);
  border-color: rgb(94, 255, 0);
  border: 5px solid;
padding: 15px;
border-radius: 15px;
width: 400px;
}

nav {
  float: right;
  border: 5px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 15px;
  width: 200px;
  background-color: rgb(89, 255, 0);
}

ul {
  line-height: 125px;
}

iframe {
  width: 100px;
}